.aside {
  width: 30%;
  height: 100%;
  background-color: rgb(249, 247, 247);
}

.aside__menu {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f2f5;
}

.button-borderNone {
  outline: none;
  background: none;
  border: none;
}

.menu__settings {
  display: flex;
  align-items: center;
}

.menu__icon-avatar {
  width: 30px;
  height: 30px;
}

.menu__icon-btn {
  cursor: pointer;
}

.menu__icon-btn,
.contact__icon {
  width: 28px;
  height: 28px;
  padding-left: 5px;
  color: #54656f;
}

.aside__form {
  padding: 5px;
}

.aside__contact {
  max-height: 75px;
  padding: 5px;

  &:hover {
    background-color: #e7e8e9;
    cursor: pointer;
  }
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact.active {
  background-color: #ccd0d1;
}

.contact__avatar {
  padding: 10px;
}

@media (max-width: 510px) {

  .contact__avatar {
    padding: 3px;
  }

  .contact__icon {
    width: 20px;
    height: 20px;
  }

  .contact__data>span {
    font-size: 14px;
  }
}

@media (max-width: 330px) {

  .contact__data>span {
    font-size: 12px;
  }
}
