.chat {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  background-color: #f0f2f5;
  position: relative;
}

.chat__logo {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chat__messages {
  height: 100%;
  background-image: url('https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg');
  background-color: rgba(255, 255, 255, 0.5);
}

.chat__form {
  display: flex;
  padding: 0 10px;
}

.chat__form-wrapper {
  padding: 10px;
}

.chat__input {
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px;
  outline: none;

  &:hover,
  &:focus {
    border-color: #56cf4c;
  }
}

.form__button-chat {
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

.chat__messages {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: end;
  padding: 10px;
  overflow: auto;
}

.chat__message {
  padding: 7px;
  margin: 2px 0;
  max-width: 50%;
  border-radius: 5px;
}

.chat__message-you {
  align-self: flex-end;
  text-align: right;
  background-color: #85f378d1;
}

.chat__message-companion {
  align-self: flex-start;
  text-align: left;
  background-color: rgb(201 208 200 / 82%)
}
